/* CÉLULAS DA TABELA PERIÓDICA */
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: var(--cell-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: default;
    transition: filter var(--transition), transform var(--transition);
}
.cell:hover { 
    filter: brightness(1.15); 
    transform: scale(1.08); 
}
.cell-sm { 
    width: var(--cell-size-sm); 
    height: var(--cell-size-sm); 
}
.cell-number, .cell-symbol{ 
    line-height: 1; 
}
.cell-number {
    font-size: var(--cell-number-size);
    font-family: var(--font-mono);
    color: #000000;
    align-self: flex-start;
}
.cell-symbol {
    font-size: var(--cell-symbol-size);
    font-weight: 700;
    color: #000;
}
.cell-name {
    font-size: var(--cell-name-size);
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    line-height: 1.3;
}

/* TABELA PERIÓDICA — GRELHA */
.periodic-table-wrapper {
    padding: var(--space-8);
    overflow-x: auto;
}
.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, var(--cell-size));
    grid-template-rows: repeat(7, var(--cell-size)) 20px repeat(2, var(--cell-size));
    gap: var(--cell-gap);
    width: max-content;
    margin: 0 auto;
}
